:root{
  --orange: #fb8b24;
  --btnhovergray: #36454f;
  --white: white;
  --black: black;}


.my-orange-bg{
  background-color: var(--white);
  text-shadow: 1px 1px 5px var(--black);
  box-shadow: 2px 2px 5px var(--orange);
}
.rounded{
  border-radius: 40px !important;
}

#studentagenda{
  border-radius: 30px 0 20px 0;
}
#dateToday {
  border-radius: 0 30px 0 30px !important;}
  #submit:hover{
      transform: scale(1.1);
      transition: all 0.5s ease  ;
  }

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--orange);
  font-size: 32px !important;
  background-color: var(--white);
  text-shadow: 2px 2px 3px var(--black);
  box-shadow: 3px 5px 5px var(--black);
  border: 2px solid var(--black);
  height: 60px;}
  /* #row1{
      display: flex;
      align-items: center;
  justify-content: center;
  } */

  /* #taskcol{
      align-items: center;
      justify-content: center;
  } */
  body{
  }
  #tasks{
      height: 150px;
      width: 80%;
      border-radius: 10px;
  }
  label {
      margin-bottom: 10px;
      text-shadow: 2px 2px 3px var(--black);
      color: var(--orange);
      background-color: var(--white);
font-size: 24px;

  font-size: 24px;}
      #agendaimg{
          height: 30vh;
          width: 100%;
      }
      .custom-file-input {
          opacity: 0;
          position: absolute;
          pointer-events: none;
        }
        
        .custom-file-label {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          cursor: pointer;
        }
        
        .custom-file-input::-webkit-file-upload-button {
          visibility: hidden;
        }
        
        .custom-file-input::before {
          content: 'Browse';
          display: inline-block;
          background: #007bff;
          color: #fff;
          padding: 8px 12px;
          border-radius: 4px;
          cursor: pointer;
        }
        
        .custom-file-input:hover::before {
          background: #0069d9;
        }
        
        .custom-file-input:active::before {
          background: #0056b3;
        }

        .sidebar {
          height: 100%; /* 100% Full-height */
          width: 0; /* 0 width - change this with JavaScript */
          position: fixed; /* Stay in place */
          z-index: 1; /* Stay on top */
          top: 0;
          left: 0;
          background-color: var(--orange); /* */
           /* Disable horizontal scroll */
          padding-top: 60px; /* Place content 60px from the top */
          transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
          overflow: hidden;
          
        }
        
        /* The sidebar links */
        .sidebar a {
          padding: 8px 8px 8px 32px;
          text-decoration: none;
          font-size: 25px;
          color: var(--black);
          /* display: block; */
          transition: 0.3s;
        }
        
        /* When you mouse over the navigation links, change their color */
        .sidebar a:hover {
          color: #f1f1f1;
        }
        
        /* Position and style the close button (top right corner) */
        .sidebar .closebtn {
          position: absolute;
          top: 0;
          right: 25px;
          font-size: 36px;
          margin-left: 50px;
        }
        
        /* The button used to open the sidebar */
        .openbtn {
          font-size: 20px;
          cursor: pointer;
          background-color: var(--orange);
          color: white;
          padding: 10px 15px;
          border: none;
        }
        
        .openbtn:hover {
          background-color: #444;
        }
        
        /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
        #main {
          transition: margin-left .5s; /* If you want a transition effect */
          padding: 20px;
        }
        
        /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
        @media screen and (max-height: 450px) {
          .sidebar {padding-top: 15px;}
          .sidebar a {font-size: 18px;}
        }
        #img1,#img2{
          background-color: var(--white);
        }
        .logotitle {
          display: flex;
          flex-direction: row;
        padding-bottom: 10px;
        padding-left: 10px;
          
      } 
      
      .logotitle a {
          text-decoration: none;
          color: var(--black);
      }
      .logo{
          width: 30px;}
          #img1,#img2{
            background-color: var(--white);
          }
          .copyrights{
              text-align: center;
              padding-left: 10px;
              padding-top: 140px;
              font-size: smaller;
          
          }
          #agendaimg:hover{
            scale: 120%;
          }
#container:hover{


}
#okk
{
  margin-top: 30px!important;
  width: 50%;
}
    #okk:hover{
      transform: scale(1.1);
      transition: all 0.5s ease;
    }
    #submit:hover{
      transform: scale(1.1);
      transition: all 0.5s ease;
    }

    .modal {
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    
    /* Modal Content */
    .modal-content {
      background-color: #fefefe;
      margin: auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
    }
    