:root{
    --orange: #fb8b24;
    --btnhovergray: #36454f;
    --white: white;
    --black: black;}
   

    .sidebar {
      height: 100%; /* 100% Full-height */
      width: 0; /* 0 width - change this with JavaScript */
      position: fixed; /* Stay in place */
      z-index: 1; /* Stay on top */
      top: 0;
      left: 0;
      background-color: var(--orange); /* */
       /* Disable horizontal scroll */
      padding-top: 60px; /* Place content 60px from the top */
      transition: 0.5s; 
      overflow: hidden;/* 0.5 second transition effect to slide in the sidebar */
      
    }
    
    /* The sidebar links */
    .sidebar a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 20px;
      color: var(--black);
      /* display: block; */
      transition: 0.3s;
    }
    
    /* When you mouse over the navigation links, change their color */
    .sidebar a:hover {
      color: var(--white);
    }
    
    /* Position and style the close button (top right corner) */
    .sidebar .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }
    
    /* The button used to open the sidebar */
    .openbtn {
      font-size: 20px;
      cursor: pointer;
      background-color: var(--orange);
      color: var(--white);
      padding: 10px 15px;
      border: none;
    }
    
    .openbtn:hover {
      background-color: #444;
    }
    
    /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
    #main {
      transition: margin-left .5s; /* If you want a transition effect */
      padding: 20px;
    }
    
    /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
    @media screen and (max-height: 450px) {
      .sidebar {padding-top: 15px;}
      .sidebar a {font-size: 18px;}
      h1{
        font-size: 20px!important;
        height: 10px;
      }
    }
    .logotitle {
      display: flex;
      flex-direction: row;
    padding-bottom: 10%;
    padding-left: 10%;
      
  } 
  
  .logotitle a {
      text-decoration: none;
      color: var(--black);
  }
  .logo{
      width: 40px;}
      .copyrights{
          text-align: center;
          padding-left: 10px;
          padding-top: 140px;
          font-size: smaller;
      
      }
      
   
      main {
        padding: 20px;
      }
      .search-section,
      .class-section,
      .student-section {
        margin-bottom: 20px;
      }
      
  
      

  
      
      #img1,#img2{
        background-color: var(--white);
      }
      .my-orange-bg{background-color: var(--white);}
      /* background: rgb(251,139,36);
      background: linear-gradient(90deg, rgba(251,139,36,1) 35%, rgba(0,212,255,1) 100%);        padding: 10px;} */
      .rounded{
          border-radius: 40px !important;
      }
      
      #Grades{
          border-radius: 30px 0 20px 0;
      }
    
      #dateToday {
          border-radius: 0 30px 0 30px !important;}
          h1 {
              display: flex;
              align-items: center;
              justify-content: center;
              color: var(--orange);
              font-size: 32px !important;
              background-color: var(--white);
              text-shadow: 2px 2px 3px var(--black);
              box-shadow: 3px 5px 5px var(--black);
              border: 2px solid var(--black);
              height: 60px;}

              label {
                  margin-bottom: 10px;
              color: var(--orange);
          font-weight: bold;
          font-size: 20px!important;
          text-shadow: 1px 1px 2px var(--black);
      }
          label:hover{
              transform: scale(1.1);
      transition: all 0.5s ease  ;
          }


                  .table-white {
                      color: var(--btnhovergray); 
                    }
                    .table-bordered td, .table-bordered th {
                    }
                      .table td, .table th {
                          padding: .75rem;
                          vertical-align: top;
                      }
                      th{ text-shadow: 1px 1px 2px var(--black);
                          color: var(--orange);
                        }
#container{
  width: 75%;
 }