body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;/* this to delete whitespaces on the sides*/
  width: auto;
  height: auto;
  overflow-x: hidden;/*this to takeout vertical scrollbar*/
}


.header-container{
  width: 100%;
  height: 100vh;
  background-image: url('./index.page/pexels-max-fischer-5212700.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;

}
header{
  background-size: cover;
  width: 100%;
  height: 200px;
  padding: 10px;
  background-repeat: no-repeat;

}

.location{
  display:flex;
  flex-direction: row;
  margin-left: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}


.location-logo{
  width: 30px;
  height: 30px;
  margin-right: 5px;
  margin-top: 10px;
  border-radius: 70%;
}

h1{
  font-size: 50px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 50px;
  color: white;
}

.signin-form{
  margin-left: 900px;
  margin-top: -100px;
  width: 300px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.6);
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 100px;
  box-shadow: 5px 5px 5px black;
}

h2{
  font-size: 50px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;


}

.field{
  width: 300px;
  height: 50px;
  text-align: center;
  border-radius: 10px;
  border: none;
  box-shadow: 5px 5px 7px black;
}

.forget{
color: black;
font-size: 15px;
margin-left: 10px;
}

.forget:hover{
  color: blue;
}

.btn{
  border-radius: 10px;
  width: 100px;
  height: 35px;
  margin-left: 30px;
  box-shadow: 5px 5px 7px black;
}

.middle{
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: #dddd;
  padding: 30px;
}
.icon1{
  width: 100px;
  border-radius: 50%;
}

.icon{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.textwithborder {
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-color: black;
  border: solid 2px;
  border-radius: 20px;
  height: 300px;
  width: 350px;
  padding: 20px;
  letter-spacing: 2px;
  line-height: 27px;
  
}
.about{
  margin: 10px 40px;
}

.teachers img{
  height: 30%;
  width: 34%;
  
  background-color: #dddd;
}

.container {
  position: relative;
  display: flex;
  flex-direction: row;}
  

.text-overlay1 {
  position: absolute;
  top: 80%;
  left: 10%;
  transform: translate(-22%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  height: 30%;
  width: 20%;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 5px;
}

.text-overlay2{
  position: absolute;
  top: 80%;
  left: 40%;
  transform: translate(-10%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  height: 30%;
  width: 20%;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 5px;
}
.text-overlay3{
  position: absolute;
  top: 80%;
  left: 80%;
  transform: translate(-20%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  height: 30%;
  width: 20%;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 5px;
}

h3  {
  color: white;
  font-size: 32px;
  font-family: Arial, sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
 
  
}



.containerbottom {
  position: relative;
  height: 200px; /* Set a fixed height for the container */
  border: 1px solid #000; /* Just for visualization */
  display: flex;
  align-items: flex-end; /* Align items to the bottom of the container */
  background-color: #000;
  color: white;
  justify-content: space-around;
  padding-bottom: 30px;
}

.text {
  margin: 0;
  border: none;
  color: gray;
  font-size: large;
}
  
a{
  color: gray;
 text-decoration: none;
 padding: 0 15px;
}

a:hover{
  color: white;
  text-decoration: underline;
  
}



.logo-bottom{
  padding-bottom: 100px;
  font-size: 30px;
  margin-left: 50px;
}
