:root {
    --orange: #fb8b24;
    --btnhovergray: #36454f;
    --white: white;
    --black: black;
}

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

body {
    margin: auto;
    padding: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--black);
}
html{
  margin-left: 300px;
}
.logotitle {
    display: flex;
    flex-direction: row;
  padding-bottom: 10%;
  padding-left: 10%;
    
} */

.logotitle a {
    text-decoration: none;
    color: var(--black);
}
.logo{
    width: 40px;
} 
/*start of sidebar css */
/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 250px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: var(--orange); /* */
     /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
   
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: var(--black);
    /* display: block; */
    transition: 0.3s;
    /* visibility: visible; */
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
  visibility: hidden;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: var(--orange);
    color: white;
    padding: 10px 15px;
    border: none;
    display: none;
     
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {
      padding-top: 15px;}
    .sidebar a {font-size: 18px;}
    
  }
/*end of sidebarcss*/
h1 {
    font-size: 35px;
    margin: 5%;
    color: var(--white);

}
 .col{
    padding: 1rem;
    background-color: #fb8b24;
    border: 2px solid #fff;
    color: #fff;
} 

button:active{
  background-color: #fb8b24;
}

.accordion-button:not(.collapsed) {
  background-color: #fb8b24 !important;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  left: 85%;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--orange) ;
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--orange);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.done{
  position: absolute;
  z-index: +1;
  left: 88%;
  bottom: 21%;
}
@media only screen and (max-width: 600px) {
 html{
  margin-left: 0;
  margin-top: 70px;
 }
  .switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  left: 45%;
  top: 5%;
}

.accordion{
  /* --bs-accordion-body-padding-x: 1.25rem !important; */
  width: 400px !important;
}
.accordion-item {
  width: 400px !important;
}
.done{
  position: absolute;
  left: 85%;
  bottom: 7%;
}
.sidebar {
  padding-top: 15px;
  width: 0px; /* 0 width - change this with JavaScript */}

.closebtn{
  visibility: visible !important; 
} 
.openbtn{
  position: absolute;
  top: 0;
  display: block;
}
}
@media only screen and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (-webkit-min-device-pixel-ratio: 1) {

  .switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  left: 65%;
  top: 5%;
}
.done{
  position: absolute;
  left: 85%;
  bottom: 7%;
}
.sidebar {
  padding-top: 15px;
  width: 0; /* 0 width - change this with JavaScript */}

.closebtn{
  visibility: visible;
  display: block;
}
}