:root{
  --orange: #fb8b24;
  --btnhovergray: #36454f;
  --white: white;
  --black: black;
}
body{
  /* background-image: url('../Student/pexels-max-fischer-5212700.jpg'); */
  background-size: cover;
  background-color: #fb8b24;
  /* background-color: antiquewhite; */
}

.container1{
  background-color: white;
  margin-top: -40px;
  height: 2000px;
  
}

@keyframes example {
  0%   { left:0px; top:0px;}
  25%  { margin-left:200px; top:0px;}
  
}


  
  .prof-nav1{
    float: right;
    padding-right: 20px;
    margin-right: 5px;
  }
  
  .prof-nav a{
    padding: 14px 16px;
    float: left;
    margin-right: 20px;
    text-align: center;
    font-size: 20px;
  }
  
  a.nav{
    width:100px;
    height: 30px;
    text-align: center;
    margin-left: 10px;
  
  }
  
  a.nav:active{
    background-color:#f2f2f2 ;
    color: black;
  }
  .navCont1{
    background-color: #fb8b24;
    width: 100%;
    height: 60px;
    color: white;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    position: fixed; 
    top: 0; 
    /* border-bottom: 3px solid black; */
  }
  
  .nav{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    font-size: 17px;
    /* margin-left: 11%; */
  }
  
  .nav:hover{
    color:black ;
    border-bottom: 2px solid black;
  }

.titlename{
  font-size: 40px;
  color:black;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-left: 30px;
  margin-top: 100px;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  width: 500px;
  height: 100px;
}

.class-container{
  display: grid;
  grid-template-columns: auto auto auto auto;
  inline-size: 4;
}

.card{
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 200px;
  background-color: var(--white);
  border: 2px solid black ;
  margin-left: 85px;
  border-radius: 3px;
  margin-bottom: 20px;
  
}

.card-img{
  width:200px;
  height: 150px;

}

.info-container{
  height: 100px;
  background-color: var(--orange);
}

.grade-name{
  font-size: 20px;
  font-weight:bold;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-left: 60px;
  margin-top: 3px;
  color: var(--white);
}

.student-number{
  font-size: 10px;
  color: #7a7878;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 60px;
  margin-top: 5px;
}

.card-btn{
  width: 90px;
  font-size: 10px;
  margin-left: 50px;
  margin-top: 10px;
  height: 40px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.card-btn:hover{
  color: var(--white);
  background-color: var(--btnhovergray);
}