:root{
  --orange: #fb8b24;
  --btnhovergray: #36454f;
  --white: white;
  --black: black;
}
*{margin: 0;
  padding: 0;
  
  box-sizing: border-box;}

body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: white;
  background-color: var(--white); 
  background-size: cover; 
  overflow: hidden;
}
.row-info-cont{
  display: flex;
  flex-direction: row;
}
.information-cont{
  display: flex;
  flex-direction: column;
  margin-left:-200px;
  border-left: 1px solid black;
}

.container-head{
  font-size: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.full-cont{
  display: flex;
  flex-direction: row;
}

.info-table{
  height: 35vh;
  width:fit-content;
  
}

.info-table1{
  width:fit-content;
  height: 35hv;
}

.img{
  
  margin-top: 100px;
}


  .details-cont{
  margin-left: 30px;
  padding-top: 300px;
  }
.details-cont1{
  margin-left: 1100px;
  margin-top: -568px;
}


.info-container{
  background-color:var(--white); 
  width: 600px;
  margin-top: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-left: 280px;
}

.info-container1{
display: flex;
flex-direction: row;
/* justify-content: center; */
/* align-items: center; */
color: black  ;
margin-bottom:20px ;
margin-left: 20px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.info-img{
  /* padding-top: 6px; */
  margin-right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

  /*start of sidebar css */
/* The sidebar menu */
.sidebar {
  overflow: hidden;
  height: 100%; /* 100% Full-height */
  width: 250px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: var(--orange); /* */
   /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  
}

/* The sidebar links */
.sidebar a {
  z-index: 999;
 
  text-decoration: none;
  font-size: 15px;
  color: var(--black);
  /* display: block; */
  transition: 0.3s;
  
}
.logotitle{
  margin-bottom: 40px;
}

.copyrights{
  z-index: 999;
  text-align: center;
  padding-left: 5px;
  padding-top: 50px;

 
}
.logotitle a {
  z-index: 999;
  text-decoration: none;
  color: var(--black);
}
.logo{
  z-index: 999;
  width: 30px;
 margin-right: 20px;
} 

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  z-index: 999;
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.closebtn{
  visibility: hidden;
}

/* The button used to open the sidebar */
.openbtn {
  position: absolute;
  top: 1vh;
  left: 10vh;
  font-size: 20px;
  cursor: pointer;
  background-color: var(--orange);
  color: white;
  padding: 10px 15px;
  border: none;
    
  
}

.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
.headaside{
    color: white;
    width: 200px;
    margin-left: 20px;
    height: 60px;
    font-size: 40px;
    text-align: center;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fb8b24;
    height: 100%;
    width: 280px;
    box-shadow: 0px 0px 5px #36454f;
    z-index: 1;
  }
  
  .sidetext {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
   
  
  
  
  }
  
  .logotitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
    height: 20px;
   
  }
  
  .logotitle a {
    text-decoration: none;
    color: var(--black);
  }
  
  li:hover {
   
  
    color: #faf7f5;
    letter-spacing: 2px;
  
  
  
  }
  @media only screen and (max-width:600px){
    .row-info-cont{
      display: flex;
      flex-direction: column;  }
  
      body{
        font-size: 12px !important;
      }
  
    .copyrights{
      padding-top: 10px;
    }
  
    .openbtn{
      margin-left: -80px;
    }
    .sidebar{
      width: 0px;
    }
  
    .img{
      margin-left: -90px;
      width:400px ;
      visibility: hidden;
    }
  
    .information-cont{
      margin-left: -200px;
      margin-top: 30px;
    }
    .info-container{
      width: 400px;
      margin-left: 0px;
      margin-top: 70px;
      margin-bottom: -50px;
    }
  
    .closebtn{
      visibility: visible;
    }
  
   
  
    .info-table{
      margin-bottom: -140px;
    }
  
    #main{
      margin-left: -20px;
    }
  }