body{
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}
nav{
  top: 0;
  position: fixed;
  z-index: +1;
  display: flex;
  flex-direction: row;
  height: 10vh;
  width: 100%;
  background-color: #fb8b24;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

h3{
 font-family: Verdana, Geneva, Tahoma, sans-serif; 
 margin-bottom: 10px;
  width: 300px;
}

h2{
  text-align: center;
  font-size: 50px;
}

@keyframes example {
  0%   { left:0px; top:0px;}
  25%  { margin-left:200px; top:0px;}
  
}

.forget{
 margin-top: 100px !important;
 background-color: white !important;
 color: #fb8b24 !important;
 padding-top: 10px;
 font-size: 15px;
 margin-left: 20px;
}
.forget:hover{
  color: black !important;
}
.forgetch {
  margin-left: 60px;
  background-color: white !important;
  color: #0a0a0a !important;
 }
 .forgetch:hover{
  color: #fb8b24 !important;
}

.nav-list{
  display: flex;
  flex-direction: row;

}

ul{
list-style: none;
}

a{
  color: #fdfeff;
  background-color: #fb8b24;
  text-decoration: none;
  height: inherit;
  width: inherit;
}

li{
  padding: 20px;
}

nav li:hover{
  border-bottom: #36454f 3px solid;
}
.checkbox{
  margin-left: 50px;
}
.checkbox1{
  font-size: 10px;
  padding-bottom: 10px;
}


h1{
    font-size: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 500px;
    color: white;
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-direction: alternate-reverse;
  }

  .header-container{
    background-position: relative;
  }

  body{
    width: 100%;
    height: 1000px;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .changeimg{
    width: 550px;
    height: 550px;
    margin-right: 5px;
    margin-top: 10px;
    margin-left: 100px;
    box-shadow: 5px 5px 5px white;
  }

  .div2{
    margin-left: 150px;
    margin-top: 10px;
    width: 600px;
    height: 450px;
    background-color: rgba(255, 255, 255, 0.6);
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 50px;
    box-shadow: 2px 2px 2px #fb8b24;
    border-top: 1px solid #fb8b24;
    border-left: 1px solid #fb8b24;
    text-align: center;
    border-radius: 2px;
  }

  .div3{
    margin-left: 100px;
    margin-top: 50px;
    width: 500px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.6);
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 50px;
    box-shadow: 3px 3px 3px #fb8b24;
    border-top: 1px solid #fb8b24;
    border-left: 1px solid #fb8b24;
    text-align: center;
    border-radius: 3px;
  }

  .div{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
  }

.field {  
  width: 300px;
  height: 50px;
  text-align: center;
  border-radius: 10px;
  border: none;
  border: 1px solid grey;
  margin-left: 30px;
}
.reset{
  color: black;
  background-color: #fb8b24;
  border-radius: 5px;
  
}

.btn{
  border-radius: 10px;
  background-color: #fb8b24;
  color: white;
  font-size: 20px;
  width: 300px;
  height: 35px;
  margin-left: 30px;
  border: none;
  cursor: pointer;
  }
  
  .btn:hover{
    background-color: white;
    color: #fb8b24;
  }
  .div1{
    text-align: center;
    margin-left: 200px;
    margin-top: 200px;
    width: 300px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.6);
    padding-top: 90px;
    padding-left: 100px;
    padding-right: 100px;
    box-shadow: 5px 5px 5px black;
  }

.btnch{
  width: 300px;
  background-color: #fb8b24;
  color: white;
  margin-top: 20px;
  height: 40px;
  margin-left: 40px;
  box-shadow: 5px 5px 7px black;

}

.h4{
  width: 400px;
  font-size: 10px;
  margin-bottom: 20px;
}

  .fp{
    margin-top: 10px; 
    width: 400px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.6);
    padding-right: 10px;
  }

  .fp1{
    margin-top: 60px; 
    width: 300px;
    height: 200px;
    background-color: rgba(252, 249, 249, 0.6);
    width: inherit;
    height: inherit;
  }

  .field1{
    width: 300px;
  height: 50px;
  text-align: center;
  border-radius: 10px;
  border: none;
  /* box-shadow: 5px 5px 7px black; */
  border: 2px solid black;
  margin-top: 30px;
  margin-left: 10px;
  }

  .btns{
    display: flex;
    flex-direction: row;
    margin-left:85px;
    padding-right: 20px;

  }

  .please{
    margin-left: 10%;
    margin-top: 30px;
  }


  .alert{
    color: red;
    margin-top: 2px;
    font-size: 12px;
  }
  @media (max-width: 600px) {
    body{
      overflow: hidden;
    }
      .changeimg {
        display: none;
      }
.div{
width: 100%;
}
      .div3 {
          margin-left: 50px;
          margin-right: 20px;
          margin-top: 100px;
          width: 400px;
          height: 500px;
          background-color: rgba(255, 255, 255, 0.6);
          padding-top: 10px;
          padding-left: 20px;
          padding-right: 50px;
          box-shadow: 2px 2px 2px #fb8b24;
          border-top: 1px solid #fb8b24;
          border-left: 1px solid #fb8b24;
      }
      .btns{
        margin-left: 20px;
      }
     h3{ 
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      margin-bottom: 10px;
      width: 350px;
      font-size: 24px;
  }

      body {
          width: 400px;
          height: 100%;
          background-color: white;
          background-repeat: no-repeat;
          background-size: cover;
          font-family: Verdana, Geneva, Tahoma, sans-serif;}
          h4 {
              width: 300px;
              font-size: 13px;
              margin-bottom: 20px;
              margin-right: 100px;
          }
          .fp {
              /* margin-left: 200px; */
              margin-top: 10px;
              /* margin-bottom: -400px; */
              width: 300px;
              height: 500px;
              background-color: rgba(255, 255, 255, 0.6);
              padding-right: 10px;
              /* box-shadow: 5px 5px 5px black; */
          }
          h1 {
              display: none;

             
          }
          .nav-list{
            margin-right: 200px;
          }
          nav{
width: 100%;
          }
  }